// Custom stylesheet

body {
    background: #eee;
    padding-top: 70px;
}
.todo.completed {
    border-color: #eee;
    text-decoration: line-through;
    opacity:.7;
}
.todo .form-check {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
.todo .close {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.loading {
    background-image: url('../img/ajax-spinner.svg');
    background-repeat: no-repeat;
    background-position: right .70rem center;
    opacity:.7;
}